
<div class="container-fluid">

  <div class="row">
      <div style="position: fixed; z-index: -99; width: 100%; height: 100%">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/BEfu6wDs-zc?rel=0&controls=0&showinfo=0&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
      </div>
  </div>

  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <section>
        <form action='/sessions' method='post'>
          <h1>Please sign in</h1>
          <div class="form-group">
            <label for='email'>
              <h3> Email </h3><input class='form-control' name='email' type='email'>
            </label>
          </div>
          <div class="form-group">
            <label for='password'>
              <h3> Pass Sword </h3><input class="form-control" name='password' type='password'>
            </label>
          </div>
          <br>
          <input class="btn btn-danger" type='submit' value='Sign in'><br>
          <a href="/users/recover">I forgot my password</a> <br>
          <a href="/users/new">I don't have an account</a>
        </form>
      </section>
    </div>
    <div class="col-lg-4"></div>
  </div>
  <br>
</div>
