%h2 Spaces

%ul{ id: "spaces" }
  - @spaces.each do |space|
    %li
      = space.name
      = space.price
      <a href="/locations/space.location.name">space.location.name</a>

CHET NO IDEA WASTED 25HOURS......
