<h1> Spaces </h1>

<ul id='spaces'>
 <% @spaces.each do |space| %>
   <li>
     Name: <%= space.name %>
     Price: £<%= space.price %>
     Location: <a href="/locations/<%= space.location.name %>"><%= space.location.name %></a>
   </li>
 <% end %>
</ul>
