%h2 Create a Space

%form.text-center{ method: "post", action: "/spaces" }
  %input{ type:"text", name: "name" }
  %input{ type:"text", name: "location" }
  %input{ type:"number", name: "price" }
  %input{ type:"submit", value: "Create space" }
