<h2> Tell us about your space. </h2>

<form action='/spaces' method='post'>
  <input name='name' type='text' placeholder="name your spooky space">
  <input name='location' type='text' placeholder="set your location">
  <input name='price' type='number' placeholder="set your price">
  <input name='description' type='textarea' rows='4' cols='50' placeholder="tell us about your space">
  <input name="available_from" type="date">
  <input name="available_to" type="date">
  <input type='submit' value='List your space'>
</form>
