<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>Please sign up</h1>
      <% if flash[:errors] && !flash[:errors].empty? %>
        Please refer to the following errors below:
        <ul id='errors'>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12"><h2>Please sign up and enjoy the view of this pumpkin</h2></div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <form action='/users' method='post'>
        <label for='email'>
          Email: <input name='email' type='email' value='<%= @user.email %>' required>
        </label>
        <label for='password'>
          Password: <input name='password' type='password'>
        </label>
        <label for='password_confirmation'>
          Password Confirmation: <input name='password_confirmation' type='password'>
        </label>
        <input type='submit' value='Sign up'>
      </form>
    </div>
    <div class="col-lg-8">
      <img class="img-responsive" src="http://www.victorystore.com/media/catalog/product/cache/1/image/700x700/9df78eab33525d08d6e5fb8d27136e95/s/c/scary-jack-o-lantern-44in-a.jpg">
    </div
  </div>
</div>
