body {
    margin-top: 70px;
}

section {
    color: white;
    border-radius: 30px;
    opacity: 0.98;
    background-color: #333;
    margin: 0px 50px 0px 50px;
    position: relative;
    top: 150px;
}

.nav-ul {
    position: relative;
    bottom: 35px;
}

.navbar {
    margin-bottom: 0px !important
}

#col-nav {
    padding: 0px !important;
}

#doorstop-nav {
    margin-right: 20px;
}

form {
    padding: 10px;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

/*.transparent {
    background-color: rgba(0, 0, 0, 0.15);
}

.panel {
    background-color: transparent;
    border: 1px #222;
}*/

.figure-image{
    border-radius: 100px;
}
