<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
			<ul>
				<li><a href="/about">About Us</a></li> <br>
				<li><a href="/founders">Founders</a></li>
			</ul>
		</div>
    <div class="col-lg-8">
			<h1>Our Co-Founders</h1>
			<h2>Chet Sanghani<h2>

			<p>
				"test"
			</p>
			<p>
				"test"
			</p>
    </div>
	</div>
</div>