<% if current_user %>
  <form method='post' action='/sessions'>
  <div class="form-group" style="float: right;margin-right: 25px;">
    <input class="form-control" type='hidden' name='_method' value='delete'>
    <input class="btn btn-danger" type='submit' value='Sign out'>
  </div>
</form>
<% end %>
