<!DOCTYPE html>
<html>
  <head>
    <title>Haunted BnB</title>
    <link rel='stylesheet' href='css/style.css'>
  </head>

  <body>
    <h1>Haunted BnB: Feel terrified, wherever you are.</h1>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
